[submodule "lib/MoonWorks"]
	path = lib/MoonWorks
	url = https://gitea.moonside.games/MoonsideGames/MoonWorks.git
[submodule "lib/ldtk"]
	path = lib/ldtk
	url = git@github.com:marpe/ldtk.git
[submodule "lib/codegen"]
	path = lib/codegen
	url = git@github.com:marpe/codegen.git
